<!DOCTYPE html>

<html>
    <head>
        <title>Register User</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/script.js" defer></script>
    </head>

    <body>
        <form class="register-form" id="register-form">
            <label for="name"> Name </label>
            <input name="name" placeholder="name" required>
            <label for="email"> Email</label>
            <input name="email" placeholder="email" required>
            <label for="password">password</label>
            <input name="password" placeholder="Enter password here" type="password" required>
            <label for="Date"> Date</label>
            <input type="date" name="dob" placeholder="dob">
            <label for="address"> Address </label>
            <textarea name="address" placeholder="Enter your address"></textarea>
            <button type="submit">Register</button>
        </form>

        <div class="password-container">
            

        </div>
    </body>
</html>